@import url('https://fonts.googleapis.com/css?family=Lobster');
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
/**
 * Website Colors
 */
/**
 * Mixins
 */
.bg {
  background-color: #263238;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23263238'/%3E%3Cstop offset='1' stop-color='%2390a4ae'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23eceff1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23eceff1' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23eceff1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23eceff1' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.38'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.bg-gradient {
  background: #7f0bda;
  /* Old browsers */

  background: -moz-linear-gradient(-45deg, #7f0bda 1%, #2989d8 52%, #01dcd6 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(-45deg, #7f0bda 1%, #2989d8 52%, #01dcd6 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(135deg, #7f0bda 1%, #2989d8 52%, #01dcd6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f0bda', endColorstr='#01dcd6', GradientType=1);
}
.useshadow {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}
/**
 * html elements
 */
p {
  font-size: 13px;
}
a {
  color: white;
  text-decoration: none;
}
/*====================================
=            BREAK POINTS            =
====================================*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
.container {
  width: 960px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}
.container.content h1 {
  color: white;
  padding: 20px;
  font-size: 22px;
}
.container .content {
  min-height: 500px;
  background-color: white;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  background: url('../img/content-lines.png') 0px 0px no-repeat white;
}
.container .content .top-attention {
  position: absolute;
  top: 34px;
  right: 50px;
  text-align: right;
}
@media (max-width: 480px) {
  .container .content .top-attention {
    text-align: center;
    right: 0px;
  }
}
.container .content .top-attention h2 {
  font-size: 82px;
  font-weight: bold;
  font-family: 'Lobster', cursive;
}
@media (max-width: 480px) {
  .container .content .top-attention h2 span {
    color: white;
  }
}
.container .content .top-attention p {
  font-size: 16px;
}
@media (max-width: 480px) {
  .container .content .top-attention p {
    display: none;
  }
}
.container .content .attention {
  position: absolute;
  bottom: 213px;
  left: 10px;
  color: #eceff1;
  padding-left: 40px;
}
@media (max-width: 480px) {
  .container .content .attention {
    padding: 0px;
    left: 7px;
    bottom: 92px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .container .content {
    min-height: 385px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .container {
    width: 90%;
  }
}
.wrapper {
  padding-top: 5px;
  background-color: #263238;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%23263238'/%3E%3Cstop offset='1' stop-color='%2390a4ae'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1'%3E%3Cstop offset='0' stop-color='%23eceff1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23eceff1' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2'%3E%3Cstop offset='0' stop-color='%23eceff1' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23eceff1' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.38'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
@media (max-width: 480px) {
  .wrapper {
    padding-top: 15px;
  }
}
header {
  background-color: #263238;
  color: #eceff1;
  text-align: center;
}
header .container {
  padding: 45px 0px 0px;
}
header .container h1 {
  font-family: 'Lobster', cursive;
}
header .container h1 a {
  color: white;
  text-decoration: none;
}
header .container .info {
  margin: 28px 0px 12px;
}
header .container .info p {
  text-align: right;
  padding-right: 10px;
}
@media (max-width: 480px) {
  header .container .info p {
    display: none;
  }
}
header h1 {
  font-size: 34px;
  margin-bottom: 10px;
}
header p {
  font-size: 12px;
}
.showcases {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  background: #7f0bda;
  /* Old browsers */

  background: -moz-linear-gradient(-45deg, #7f0bda 1%, #2989d8 52%, #01dcd6 100%);
  /* FF3.6-15 */

  background: -webkit-linear-gradient(-45deg, #7f0bda 1%, #2989d8 52%, #01dcd6 100%);
  /* Chrome10-25,Safari5.1-6 */

  background: linear-gradient(135deg, #7f0bda 1%, #2989d8 52%, #01dcd6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7f0bda', endColorstr='#01dcd6', GradientType=1);
  height: 98px;
  margin-bottom: 100px;
}
.showcases .item {
  background-color: #eceff1;
  padding: 35px 24px;
  margin-top: 6px;
  margin-left: 6px;
  float: left;
  position: relative;
}
.showcases .item h3 {
  font-size: 15px;
  font-weight: bold;
}
.showcases .item .comingsoon {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 480px) {
  .showcases .item {
    width: 60%;
    float: none;
    margin: 10px auto;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .showcases {
    height: auto;
    overflow: hidden;
  }
}




.task-item {
  width: 100%;
  margin-bottom: 10px;
  height: 45px;
}
.task-item .title,
.task-item .status,
.task-item .priority,
.task-item .timespent,
.task-item .time input {
  background-color: #f3f1f4;
  padding: 18px 10px;
  margin-right: 2px;
  /* color: black; */
  color: white;
}
.task-item .title {
  float: left;
  width: 395px;
}
.task-item .title a {
  color: #010717;
  text-decoration: none;
}
.task-item .title:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.task-item .status {
  float:left;
  width: 10%;
  background-image: none;
  text-align: center;
}
.task-item .status.onprogress {
  background-color: #cdb61b;
}
.task-item .status.assigned {
  background-color: #8ad700;
}
.task-item .status.onhold {
  background-color: #cb1e52;
}
.task-item .status.completed {
  background-color: #00ce6c;
}

.task-item .priority {
  float:left;
  width: 10%;
  background-image: none;
  text-align: center;
}
.task-item .priority.low {
  background-color: #cdb61b;
}
.task-item .priority.medium {
  background-color: #8ad700;
}
.task-item .priority.high {
  background-color: #ff5601;
}
.task-item .priority.urgent {
  background-color: #f52f58;
}

.task-item .timespent {
  width: 50px;
  float: left;
  color: #929292;
  text-align: center;
}

.task-item .time input {
  float: left;
  color: black;
  text-align: center;
  background-color: white;
  width: 60px;
  padding: 16px 8px;
}
.task-item .btn {
  width: 105px;
}


.btn {
  border: none;
  padding: 15px;
  background-color: #1e88e5;
  color: white;
  margin: 0px auto 25px;
  border-radius: 8px;
  box-shadow: 0px 5px #1967ad;
  text-align: center;
}